@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Moon+Dance&family=Waterfall&display=swap');

:root {
  --primary-color:#30a056;
  --light-color: #dad7cd;
  --dark-color: #222;
  --logo-font: 'Waterfall', cursive;
  --header-font: 'Moon Dance', cursive;
  --text-font: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
